%h1 Listing clusters

%table
  %tr
    %th Lat
    %th Lng
    %th Geohash
    %th Depth
    %th Weight

  - @clusters.each do |cluster|
    %tr
      %td= cluster.lat
      %td= cluster.lng
      %td= cluster.geohash
      %td= cluster.depth
      %td= cluster.weight

